<!DOCTYPE html>
    <html>
        <head>
            <title>Page Title</title>
             <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        </head>
        
   
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css\about.css"/>
        <link rel="icon" href="image\icon.ico"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"></script>
 <body >
    <div class="back">
        <a href="/" class="btn btn-light back1" role="button"><--</a>
    </div>
    <div class="main">
        About Us
    </div>
    <div class="row mx-0">
                <div class="col-md-6 kvxol col-sm-12 ">
                    <h2 style="color:#6c757d;">Why choose Health Care with</h2>
                    <h2 style="color:#6610f2;">    Medical Hospital</h2>
                    <p class="a1">Since three decades, Yashoda Group of Hospitals has been providing quality healthcare for the people in their diverse medical needs. People trust us because of the strong relationships we’ve built with them over the years.

Under astute leadership and strong management, Yashoda Group of Hospitals has evolved as a centre of excellence in medicine providing the highest quality standards of medical treatment to all sections of the society. Our work has always been guided by the needs of patients and delivered by our perfectly combined revolutionary technology, best medical expertise and advanced procedures.

We offer sophisticated diagnostic and therapeutic care in virtually every specialty and subspecialty of medicine and surgery.</p>
<ul class="a1"style="margin-bottom: 100px;">
<li>5 independent hospitals</li>
<li>3 Heart Institutes</li>
<li>3 Cancer Institutes</li>
<li>2400 Beds</li>
<li>62 Medical specialties</li>
<li>700 Specialist doctors</li>
                </div>
                <div class="col-md-6 kvxol col-sm-12 ">
                    <img src="image/download.jpg">
                </div>
    </div>

<section class="key-features"> 
            <div class="row mx-0">
                <div class="col-md-3 kvxol col-sm-6 padding-0">
                    <div class="single-key ky-1">
                        <i class="fas fa-hospital-alt"style="font-size: 50px"></i>
                        <h3>Newest Technologies</h3>
                        <p>Our Hospital Known for New Technologyies</p>
                    </div>
                </div>

                <div class="col-md-3 kvxol  col-sm-6 padding-0">
                    <div class="single-key ky-2">
                        <i class="fas fa-user-md" style="font-size: 50px;"></i>
                        <h3>Experianced Doctors</h3>
                        <p>Our Hospital Known for Experianced Doctors as well as well trained doctors </p>
                    </div>
                </div>

                <div class="col-md-3 kvxol col-sm-6 padding-0">
                    <div class="single-key ky-1">
                        <i class="fas fa-briefcase-medical"style="font-size: 50px"></i>
                        <h3>Customer Satisfaction</h3>
                        <p>Our first priorty is the Customer Satisfaction</p>
                    </div>
                </div>

                <div class="col-md-3 kvxol col-sm-6 padding-0">
                    <div class="single-key ky-2">
                        <i class="fas fa-capsules"style="font-size: 50px"></i>
                        <h3>Pharma Pipeline</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo.</p>
                    </div>
                </div>


     
               
            </div>


    </section>

    <div class="b3">
            <div >
                <p style="font-size: 30px;">CONNECT DOCMED</p>
                <i class="fab fa-facebook-square b2"></i>
                <i class="fab fa-twitter-square b2"></i>
                <i class="fab fa-linkedin b2"></i>
                <i class="fab fa-youtube-square b2"></i>
                <i class="fab fa-instagram-square b2"></i>
                <i class="fab fa-quora b2"></i>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
            </div>
    <body>