<!DOCTYPE html>
	<html>
		<head>
			<title>Page Title</title>
			 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        </head>
        
    
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="css\contact.css"/>
		<link rel="icon" href="image\icon.ico"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"></script>
		<body >
            <div class="back">
                <a href="/" class="btn btn-light back1" role="button"><--</a>
            </div>
		<div class ="  contact">
				<i class="fas fa-phone-alt"></i>
				Contact Us
		</div>
		
		<div class="card-deck b " >
	
			<div class="card b1" style="width: 18rem;">
				<div class="card-header head" style="background-color:#FFFFFF";>
					DocMed ,Hi-Tech City Branch
				</div>

				<div class="card-body cardf ">
					<i class="fas fa-phone-alt"></i>
					<p>9836476756</p>
					<i class="fab fa-google"></i>
					  <p>DocMedHi-Tech@gmail.com</p>
					 <a href="https://www.w3schools.com"style="color:#FFFFFF"><i class="fas fa-map-marker-alt"></i></a>
					 <p>Hi-Tech City</p>


				</div>
	
				
		</div>
		<div class="card b1" style="width: 18rem;">
				<div class="card-header head" style="background-color:#FFFFFF";>
					DocMed  Kompally , Branch
				</div>

				<div class="card-body cardf ">
					<i class="fas fa-phone-alt"></i>
					<p>9836473456</p>
					<i class="fab fa-google"></i>
					  <p>DocMedKompally@gmail.com</p>
					 <a href="https://www.w3schools.com" style="color:#FFFFFF"><i class="fas fa-map-marker-alt"></i></a>
					 <p>Kompally</p>


				</div>
	
				
		</div>
					<div class="card  b1" style="width: 18rem;">
				<div class="card-header head" style="background-color:#FFFFFF";>
					DocMed ,Somajiguda Branch
				</div>

				<div class="card-body cardf ">
					<i class="fas fa-phone-alt"></i>
					<p>9994544566</p>
					<i class="fab fa-google"></i>
					  <p>DocMedSomajiguda@gmail.com</p>
					 <a href="https://www.w3schools.com"style="color:#FFFFFF"><i class="fas fa-map-marker-alt"></i></a>
					 <p>Somajiguda </p>


				</div>
			</div>
			<div class="card b1" style="width: 18rem;">
				<div class="card-header head" style="background-color:#FFFFFF";>
					DocMed Fateh Nagar , Branch
				</div>

				<div class="card-body cardf ">
					<i class="fas fa-phone-alt"></i>
					<p>9836473456</p>
					<i class="fab fa-google"></i>
					  <p>DocMedFateh Nagar@gmail.com</p>
					 <a href="https://www.w3schools.com" style="color:#FFFFFF"><i class="fas fa-map-marker-alt"></i></a>
					 <p>Fateh Nagar</p>


				</div>
	
				
		</div>
		<div class="card b1" style="width: 18rem;">
				<div class="card-header head" style="background-color:#FFFFFF";>
					DocMed  Malakpet , Branch
				</div>

				<div class="card-body cardf ">
					<i class="fas fa-phone-alt"></i>
					<p>9836473456</p>
					<i class="fab fa-google"></i>
					  <p>DocMedMalakpet@gmail.com</p>
					 <a href="https://www.w3schools.com" style="color:#FFFFFF"><i class="fas fa-map-marker-alt"></i></a>
					 <p>Malakpet</p>


				</div>
	
				
		</div>
	
				
		</div>

		<div class="b3">
			<div >
				<p style="font-size: 30px;">CONNECT DOCMED</p>
				<i class="fab fa-facebook-square b2"></i>
				<i class="fab fa-twitter-square b2"></i>
				<i class="fab fa-linkedin b2"></i>
				<i class="fab fa-youtube-square b2"></i>
				<i class="fab fa-instagram-square b2"></i>
				<i class="fab fa-quora b2"></i>
			</div>
			<div class="col-sm-4">
			</div>
			<div class="col-sm-4">
			</div>
		</div>
		  		
		</body>
	</html>