@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif; 
}
.navbar{
	background: #131313;
	padding: 1rem 8rem;
	z-index: 1000;
}
.navbar .navbar-brand{
	font-size: 1.4rem;
	font-weight: 300;
}
#navbarSupportedContent > ul > li:nth-child(n) > a{
	color: #ffffff;
	font-size: 1.1rem;
	padding: 0rem 0.8rem;
}
#navbarSupportedContent > ul > li:nth-child(n) > a:hover,
#navbarSupportedContent > ul > li:nth-child(n) > a:active{
	color: aquamarine;
}
#navbarSupportedContent > button{
	background: #00BF85;
	font-weight: 400;
	padding: 0.7rem;
	border-radius: 30px;
}
#navbarSupportedContent > a > button{
	border-radius: 30px;
	margin-left:auto;
	background: #00BF85;
	padding: 10px;
	margin:10px;
}
@media screen and (max-width:988px){
	.navbar{
		padding: 1rem;
	}
	#navbarSupportedContent > ul{
		padding-left: 0.8rem;
	}
	#navbarSupportedContent > ul > li:nth-child(n) > a{
		padding: 0.8rem 0;
	}
}
body{
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5dzVdcbX6C1uYR_K74KIQ3WudIqjdXqiqNg&usqp=CAU');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;

}